body.post-type-qbp-popup {
  background-color: #f0f0f1;
  line-height: 1.4em;
}

.qbp-popup-settings .qbpp-group-wrap {
  border-bottom: 1px solid #eee;
}
.qbp-popup-settings {
  margin: -6px -12px -12px -12px;
}
.qbp-popup-settings .qbpp-group-wrap {
  display: flex;
}
.qbp-popup-settings .qbpp-group-wrap .qbpp-label-box {
  font-weight: 700;
  padding: 0;
  font-size: 13px;
  line-height: 1.4;
  background-color: #f9f9f9;
  width: 20%;
  padding: 15px;
}
.qbp-popup-settings .qbpp-group-wrap .qbpp-field-box {
  flex: 1;
  padding: 15px;
}
.qbp-popup-settings .qbpp-group-wrap .qbpp-field-box input {
  margin-top: 0px;
}
.qbp-popup-settings .qbpp-group-wrap .qbpp-field-box .form-control {
  width: 100%;
  display: block;
  border-radius: 3px;
  border: 1px solid #8c8f94;
  height: 35px;
}
.qbp-popup-settings .qbp-popup-hide-delay {
  margin-top: 15px;
  flex-direction: column;
  gap: 8px;
  border: 0;
}
.qbp-popup-settings .qbp-popup-hide-delay label {
  display: block;
  font-weight: 600;
}
.qbp-popup-settings .form-check-label {
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  font-size: 14px;
}

.qbp-popup-settings .form-check {
  margin-bottom: 8px;
}
.qbp-popup-settings .form-check:last-child {
  margin-bottom: 0;
}
.qbp-popup-settings .qbpp-label-info {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}
.qbp-popup-settings .qbp-popup-hide-delay .qbpp-label-info {
  margin-top: -1px;
}
.qbpp-image-container {
  position: relative;
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.qbpp-image-container .dashicons {
  font-size: 20px;
  background: black;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  line-height: 31px;
  z-index: 1;
  right: 36px;
  top: 6px;
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear;
}
.qbpp-image-container .dashicons.dashicons-no-alt {
  right: 3px;
}
.qbpp-image-container .dashicons:hover {
  background: #191e23;
  color: #00b9eb;
}
.qbpp-image-container .dashicons.dashicons-no-alt:hover {
  color: #d54e21;
}
.qbpp-image-container:hover .dashicons {
  opacity: 1;
}
.qbpp-image-preview img {
  object-fit: cover;
}

.qbpp-image-preview .qbpp-loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #333232) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.qbpp-image-container .qbpp-add-image {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  color: #2271b1;
  border-color: #2271b1;
  background: #f6f7f7;
  vertical-align: top;
}

.qbpp-image-container .qbpp-add-image:hover {
  background: #f0f0f1;
  border-color: #0a4b78;
  color: #0a4b78;
}

.qbp-popup-size .qbpp-label-info {
  margin-top: 5px;
}
.qbpp-custom-size {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.qbpp-custom-size label {
  margin-bottom: 5px;
  display: block;
}
.qbpp-custom-size input.form-control {
  max-width: 140px;
}
.qbp-popup-shortcode-box .qbp-popup-shortcode {
  background: #f6f7f7;
  border: 1px solid #2271b1;
  color: #333;
  max-width: 165px;
  margin-bottom: 1px;
}
.qbp-popup-shortcode-box .qbp-popup-copy {
  background: #2271b1;
  color: white;
  border: 1px solid #2271b1;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  line-height: 20px;
  transition: all 0.2s linear;
}
.qbp-popup-shortcode-box .qbp-popup-copy:hover {
  background-color: #0a558b;
}
.qbp-popup-shortcode-box .qbp-popup-message {
  margin-top: 5px;
  display: none;
}
.qbp-popup-shortcode-box .qbp-popup-message span {
  font-weight: bold;
}
.qbpp-custom-content {
  margin-top: 20px;
}
.qbpp-custom-content iframe#qbp_popup_content_ifr {
  min-height: 300px;
}
.qbpp-content-wrap .form-group {
  margin-bottom: 15px;
}
.qbpp-content-wrap .form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}
.qbpp-content-wrap .form-group textarea {
  width: 100%;
  padding: 10px;
}

.qbpp-d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qbp-popup-content-align {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.qbpp-field-box .qbp-popup-content-align span {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 7px;
}
.qbp-popup-content-align span.active {
  border: 1px solid #50575e;
  border-radius: 2px;
  background-color: #f0f0f1;
}
.qbpp-field-box .qbp-popup-content-align span i {
  color: #333;
  font-weight: 300;
  line-height: 18px;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/* templates  */
.qbpp-field-box .template-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.template-wrapper label.radio-card {
  cursor: pointer;
  flex: 1;
  user-select: none;
}

.template-wrapper label.radio-card .card-content-wrapper {
  background: #fff;
  border-radius: 6px;
 height: 150px;
  padding: 15px;
  display: grid;
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
  transition: 200ms linear;
  border: 2px solid #f1f1f1;
  position: relative;
  z-index: 1;
}
.template-wrapper .qbpp-cooming-soon .card-content-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #dddddd57;
  border-radius: 6px;
  z-index: -1;
}
.template-wrapper .qbpp-cooming-soon h3 {
  position: absolute;
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
.template-wrapper label.radio-card .check-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: solid 2px #e3e3e3;
  border-radius: 50%;
  transition: 200ms linear;
  position: relative;
}

.template-wrapper label.radio-card .check-icon:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center center;
  transform: scale(1.6);
  transition: 200ms linear;
  opacity: 0;
}

.template-wrapper input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  visibility: hidden;
}

.template-wrapper input[type="radio"]:checked + .card-content-wrapper {
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #3057d5;
}

.template-wrapper
  input[type="radio"]:checked
  + .card-content-wrapper
  .check-icon {
  background: #3057d5;
  border-color: #3057d5;
  transform: scale(1.2);
}

.template-wrapper
  input[type="radio"]:checked
  + .card-content-wrapper
  .check-icon:before {
  transform: scale(1);
  opacity: 1;
}

.template-wrapper
  input[type="radio"]:focus
  + .card-content-wrapper
  .check-icon {
  box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
  border-color: #3056d5;
}
.template-wrapper img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 767.98px) {
  .qbp-popup-settings .qbpp-group-wrap {
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .qbp-popup-settings .qbpp-group-wrap .qbpp-label-box {
    width: 100%;
  }
}
